@font-face {
  font-family: "Poppins";
  src: local("Poppins-Regular"),
    url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}

body {
  line-height: 1;
  background-color: #eff1f4;
  font-family: Poppins;
}


.with-border{
  background-color: #0871FF !important;
  border: transparent !important;
}

input,
textarea,
button  {
  background-color: white !important;
  border: none !important;
}


/* * {
  outline: 1px solid red;
} */
