@font-face {
  font-family: "Poppins";
  src: local("Poppins-Regular"),
    url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}

body {
  line-height: 1;
  background-color: #eff1f4;
  font-family: Poppins;
}